.about-img img {
  width: 100%;
}

.about-info {
  text-align: center;
  padding: 1rem;
}

.about-details-wrapper {
  text-align: center;
}

.about-details-header {
  text-align: center;
  padding-bottom: 1rem;
}
.about-details {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  text-align: center;
}

.about-details > div > img {
  width: 100%;
  height: 300px;
}

.about-details > div > p {
  font-weight: bold;
}
