.home {
  width: 100%;
}

.heading {
  width: 90%;
  margin: auto;
  padding: 2rem 1rem;
}

.home-about {
  text-align: center;
  background-color: #2947c7;
  color: white;
  padding: 4rem 0;
}

.short-desc {
  width: 60%;
  margin: auto;
  padding: 1rem 0;
}

.findout span {
  border-radius: 2rem;
  border: 1px solid white;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
}

.categories {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  gap: 1rem;
  width: 90%;
  margin: auto;
}

.category a {
  color: white;
  font-size: 2.5rem;
}
.categories > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.categories > div > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.categories > div > div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(150, 131, 131, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  color: white;
}

.categories > div > div > p {
  margin-bottom: 0px;
}

.categories > div > div > img {
  width: 30px;
}

.partners {
  margin-top: 1rem;
  text-align: center;
  padding: 0 6rem;
}

.partners div {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.newsletter {
  margin: 5rem 0;
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
}

.newsletter-desc h2 {
  margin-bottom: 2rem;
}

.newsletter-form {
  width: 500px;
}

.newsletter-form > div {
  width: 100%;
  margin-bottom: 2rem;
}

.newsletter-form input,
button {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  height: 60px;
}

.newsletter-form input {
  outline: none;
  border: 1px solid #ccc;
  padding: 1rem;
}

.newsletter-form button {
  background-color: black;
  color: white;
  cursor: pointer;
}

.home__second-about {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 7rem;
}

.home__second-about__img-box {
  flex: 1;
  align-self: stretch;
}

.home__second-about__img-box__img {
  width: 100%;
  height: 100%;
}

.home__second-about__text-box {
  flex: 1;
  padding: 0 3rem;
}

.home__second-about__text-box__heading {
  margin-bottom: 2rem;
}

.home__second-about__text-box__main {
  margin-bottom: 2rem;
}

.home__second-contact {
  position: relative;
  background-color: blue;
}

.home__second-contact__heading {
  text-align: center;
  color: white;
  padding-top: 2rem;
}

.home__second-contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
  color: white;
}

.home__second-contact__content__form {
  width: 40%;
}

.home__second-contact__content__form h4 {
  margin-bottom: 1.5rem;
}

.home__second-contact__content__form input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  padding: 1rem;
}

.home__second-contact__content__form button {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  border-radius: 50px;
  background-color: white;
}

.home__second-contact__content__details {
  width: 40%;
  margin-left: 2rem;
}

.home__second-contact__content__details > div {
  margin-bottom: 4rem;
}

.address-wrapper h3 {
  color: #7f8389;
  text-align: center;
  margin: 2rem 0;
}

.address {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.address > div > h4 {
  margin: 2rem 0;
}

@media only screen and (max-width: 1220px) {
  .categories {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
  }

  .partners div {
    margin: 3rem 0;
    display: block;
  }

  .partners div > img {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }

  .newsletter {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2rem;
  }

  .newsletter-form {
    margin-top: 3rem;
    width: 100%;
  }

  .home__second-about {
    display: block;

    margin-top: 4rem;
  }

  .home__second-about__text-box__heading {
    margin: 2rem auto;
    text-align: center;
  }

  .home__second-contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    height: auto;
  }

  .home__second-contact__content__form {
    width: 90%;
    margin-bottom: 3rem;
  }

  .home__second-contact__content__form h4 {
    text-align: center;
    margin-top: 2rem;
  }

  .home__second-contact__content__details {
    width: 90%;
  }

  .address {
    flex-direction: column;
  }
}
