.footer-wrapper {
  padding: 2rem 4rem;
  background-color: black;
  color: #ccc;
}

.footer-item1 {
  display: flex;
}
.footer-item1 a {
  text-decoration: none;
  color: inherit;
}

.footer-item1-inner2 {
  margin-left: 4rem;
}

.footer-item2 {
  display: flex;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  padding-top: 1rem;
  justify-content: space-between;
  font-size: 1.5rem;
}

.footer-item2-inner2 {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 2rem;
}
